# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
*.tfstate
*.tfstate.backup
JENKINS-TF/.terraform/*
.terraform/

JENKINS-TF/.terraform/providers/registry.terraform.io/hashicorp/aws/5.88.0/windows_amd64/terraform-provider-aws_v5.88.0_x5.exe
